<div class="space-y-6">
  <div class="w-full max-w-md space-y-2">
    <div class="flex items-center justify-between">
      <label for="minimal" class="text-sm font-medium text-[#37352f]">Opacity</label>
      <span class="text-sm text-[#6b6b6b] minimal-value">50</span>
    </div>
    <div class="relative h-1 bg-[#f1f1ef] rounded-full">
      <div class="absolute h-full bg-[#37352f] rounded-full pointer-events-none minimal-progress" style="width: 50%">
      </div>
      <input type="range"
        class="absolute inset-0 w-full h-full opacity-0 cursor-pointer appearance-none [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-3 [&::-webkit-slider-thumb]:h-3 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-[#37352f] [&::-webkit-slider-thumb]:hover:bg-[#2b2a25] [&::-webkit-slider-thumb]:transition-colors [&::-webkit-slider-thumb]:duration-150 [&::-moz-range-thumb]:border-0 [&::-moz-range-thumb]:w-3 [&::-moz-range-thumb]:h-3 [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-[#37352f] [&::-moz-range-thumb]:hover:bg-[#2b2a25] [&::-moz-range-thumb]:transition-colors [&::-moz-range-thumb]:duration-150 focus:outline-none focus-visible:ring-2 focus-visible:ring-[#37352f] focus-visible:ring-offset-2"
        id="minimal" min="0" max="100" value="50" oninput="updateSlider(this, 'minimal')" />
    </div>
  </div>
</div>

<script>
  function updateSlider(slider, type) {
    const value = slider.value;
    const min = slider.min;
    const max = slider.max;
    const percentage = ((value - min) / (max - min)) * 100;

    document.querySelector(`.${type}-progress`).style.width = `${percentage}%`;
    document.querySelector(`.${type}-value`).textContent = value;
  }
</script>