<div class="inline-flex rounded-md shadow-sm" role="group">
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 bg-white border border-stone-800 rounded-l hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2">
    Left
  </button>
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 bg-white border-t border-b border-stone-800 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2">
    Middle
  </button>
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 bg-white border border-stone-800 rounded-r hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2">
    Right
  </button>
</div>