<div class="inline-flex rounded-md shadow-sm dark:shadow-gray-900/30" role="group">
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 dark:text-gray-200 bg-white dark:bg-gray-800 border border-stone-800 dark:border-gray-600 rounded-l hover:bg-gray-100 dark:hover:bg-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 dark:focus:ring-gray-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900">
    Left
  </button>
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 dark:text-gray-200 bg-white dark:bg-gray-800 border-t border-b border-stone-800 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 dark:focus:ring-gray-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900">
    Middle
  </button>
  <button
    class="px-4 py-1.5 text-sm font-medium text-stone-800 dark:text-gray-200 bg-white dark:bg-gray-800 border border-stone-800 dark:border-gray-600 rounded-r hover:bg-gray-100 dark:hover:bg-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-800 dark:focus:ring-gray-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900">
    Right
  </button>
</div>