<div class="flex flex-wrap gap-4">
  <!-- Primary -->
  <button
    class="px-4 py-1.5 bg-stone-800 text-white text-sm font-medium border border-stone-800 rounded hover:bg-stone-900 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2 active:bg-stone-900"
    role="button">
    Primary
  </button>
  <!-- Secondary -->
  <button
    class="px-4 py-1.5 bg-white text-stone-800 text-sm font-medium border border-stone-800 rounded hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2 active:bg-gray-200"
    role="button">
    Secondary
  </button>
  <!-- Ghost -->
  <button
    class="px-4 py-1.5 bg-transparent text-stone-800 text-sm font-medium rounded hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-stone-800 focus:ring-offset-2 active:bg-gray-200"
    role="button">
    Ghost
  </button>
  <!-- Danger -->
  <button
    class="px-4 py-1.5 bg-red-500 text-white text-sm font-medium border border-red-500 rounded hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 active:bg-red-600"
    role="button">
    Danger
  </button>
</div>