---
import DocsLayout from '../../layouts/DocsLayout.astro';
import PreviewWrapper from '../../components/PreviewWrapper.astro';
import { readFile } from 'node:fs/promises';

const modalComponents = [
  {
    path: 'src/components/html/modals/modal1.html',
    title: 'Modal Example',
    description: 'The modal component is used for general purposes.',
  },
  {
    path: 'src/components/html/modals/modal2.html',
    title: 'Modal with size variations',
    description: 'The modal component with size variations.',
  },
  {
    path: 'src/components/html/modals/modal3.html',
    title: 'Modal with color variations',
    description: 'The modal component with color variations.',
  },
  {
    path: 'src/components/html/modals/modal4.html',
    title: 'Modal with states',
    description: 'The modal component with states.',
  },
  {
    path: 'src/components/html/modals/modal5.html',
    title: 'Modal with contextual usage',
    description: 'The modal component with contextual usage.',
  },
];

const modals = await Promise.all(
  modalComponents.map(async (file) => ({
    ...file,
    code: await readFile(file.path, 'utf-8'),
  }))
);
---

<DocsLayout title="Modals - Documentation">
  <div class="w-full">

    <div class="space-y-12">
      {
        modals.map((modal) => (
          <section>
            <PreviewWrapper title={modal.title} code={modal.code} />
          </section>
        ))
      }
    </div>
  </div>
</DocsLayout>
