---
import DocsLayout from '../layouts/DocsLayout.astro';
import { components } from '../config/components';
---

<DocsLayout title="Welcome">
  <div class="max-w-4xl">
    <h1 class="text-3xl font-bold mb-4">
      Free Tailwind CSS UI Components and Blocks Inspired by Notion
    </h1>
    <p class="text-lg mb-6">
      This is a modern Tailwind CSS UI library of carefully designed components
      and blocks, capturing the sleek, minimalist style of Notion. Perfect for
      adding polished UI elements to your web projects without the need for
      installation—just copy and paste!
    </p>
    <h2 class="text-2xl font-semibold mb-2">Key Features:</h2>
    <ul class="list-disc list-inside mb-6">
      <li class="mb-2">
        Extensive UI Collection: This library includes a range of essential
        components and blocks, covering all the basics you need for building
        clean, modern interfaces.
      </li>
      <li class="mb-2">
        No Installation Required: Enjoy a hassle-free setup with copy-paste
        functionality. Simply add the components to your project as needed.
      </li>
      <li class="mb-2">
        Versatile Use: Suitable for a wide variety of applications, including
        websites, dashboards, landing pages, and more, for both personal and
        professional use.
      </li>
      <li class="mb-2">
        Fully Free to Use: These components are open-source and available for
        any project, allowing you to customize your UI while saving valuable
        development time.
      </li>
    </ul>
    <p class="text-lg">
      Whether you’re working on a personal project, a client’s website, or a web
      application, this collection offers a quick, reliable way to enhance your
      UI without setup or extra dependencies. If you find it helpful, consider
      giving the repo a star to support future updates!
    </p>
    <p class="text-lg text-gray-600 mb-8">
      Explore our collection of beautiful, responsive Tailwind CSS components.
      Each component is carefully crafted and comes with copy-paste ready code.
    </p>

    <div class="grid grid-cols-2 md:grid-cols-2 md:gap-6 gap-1">
      {
        components.map((component) => (
          <a
            href={component.href}
            class="block p-6 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow"
          >
            <h2 class="text-2xl font-semibold mb-2">{component.title}</h2>
            <p class="text-gray-600">{component.description}</p>
          </a>
        ))
      }
    </div>
  </div>
</DocsLayout>
