---
import { Preview } from './ui/Preview';

const { code, title, hideCode, path } = Astro.props;
---

<div class="preview-wrapper">
  <Preview
    client:load
    code={code}
    title={title}
    hideCode={hideCode}
    path={path}
  />
</div>
