<div class="space-y-6">
  <label class="flex items-center group">
    <input type="radio" name="drink"
      class="w-4 h-4 text-stone-800 dark:text-stone-600 border-gray-200 dark:border-gray-600 focus:ring-stone-800 dark:focus:ring-stone-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900 cursor-pointer" />
    <span class="ml-2 text-sm text-stone-800 dark:text-white group-hover:text-stone-900 dark:group-hover:text-stone-300">Coffe?</span>
  </label>
  <label class="flex items-center group">
    <input type="radio" name="drink"
      class="w-4 h-4 text-stone-800 dark:text-stone-600 border-gray-200 dark:border-gray-600 focus:ring-stone-800 dark:focus:ring-stone-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900 cursor-pointer" />
    <span class="ml-2 text-sm text-stone-800 dark:text-white group-hover:text-stone-900 dark:group-hover:text-stone-300">Milk?</span>
  </label>
</div>