<div class="space-y-6">
  <label class="flex items-center group">
    <input type="radio" name="drink"
      class="w-4 h-4 text-stone-800 border-gray-200 focus:ring-stone-800 focus:ring-offset-2 cursor-pointer" />
    <span class="ml-2 text-sm text-stone-800 group-hover:text-stone-900">Coffe?</span>
  </label>
  <label class="flex items-center group">
    <input type="radio" name="drink"
      class="w-4 h-4 text-stone-800 border-gray-200 focus:ring-stone-800 focus:ring-offset-2 cursor-pointer" />
    <span class="ml-2 text-sm text-stone-800 group-hover:text-stone-900">Milk?</span>
  </label>
</div>